footer {
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(59, 120, 253);
}

nav {
    height: 150px;
    background-color: rgb(59, 120, 253);
}

.recipes {
  margin: 50px;  
}

.jumbotron {
  background-color: darkorange;
  display: flex;
  align-items: center;
}

.row {
  left: 30px;
  width: 400px;
  border-style: 5px solid;
  padding: 15px;
  background: darkorange;
  display:flex;
}
