
nav {
    height: 100px;
}

.nav-item {
  display: inline-flex;
  align-items: inline;

}

.titleintro {
  background-color: rgb(211, 176, 79);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  background:  rgb(211, 176, 79);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: none;
  width: 30%;
  height: 250px;
  padding: 5px;
  margin: 10px;

}

.lovelycat {
  align-items: center;
  justify-content: center;
  display: flex;

footer {
  height: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(59, 120, 253);
}

a {
  color: white;
}
